@import "tailwindcss";

@theme inline {
  --color-primary: #d41111;
  --color-primary-light: #fce7e7;
  --color-primary-dark: #8a0b0b;
  --color-background: #fcf8f8;
  --color-surface: #f3e7e7;
  --color-text-main: #1b0d0d;
  --color-text-muted: #9a4c4c;
  --color-text-sub: #5c4040;
  --color-neutral-light: #f3e7e7;
  
  --font-family-display: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
  
  --radius-sm: 0.25rem;
  --radius-md: 0.5rem;
  --radius-lg: 0.75rem;
  --radius-full: 9999px;
}

:root {
  --background: #fcf8f8;
  --foreground: #1b0d0d;
  --font-manrope: "Manrope", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-manrope), ui-sans-serif, system-ui, sans-serif;
}
